# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

pool:
  vmImage: ubuntu-latest

jobs:
- job: build
  strategy:
    matrix:
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
      Python310:
        python.version: '3.10'
      Python311:
        python.version: '3.11'

  steps:
    - task: Checkout@1
      displayName: 'Checkout code from GitHub'

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(python.version)'
      displayName: 'Set up Python $(python.version)'

    - script: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      displayName: 'Install Python dependencies'

    - script: python masking.py
      displayName: 'Run masking script'

    - script: python -m unittest test_masking.py
      displayName: 'Run unit tests'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: 'output_files'
        ArtifactName: 'masked-files'
        publishLocation: 'Container'
      displayName: 'Upload masked files as artifact'